<div class="top">
    <div class="col-pad-left column">
        <h1>Access Granted!</h1>
        <div class="row">
            <div class="column">
               <p>Everything you want:</p>
               <p>- Performance driven results </p>
               <p>- Value driven pricing</p>
            </div>
            <div class="column">
               <p>Nothing you don't:</p>
               <p>- No harmful toxins</p>
               <p>- No sketchy manufacturing</p>
                <span> (Proudly manufactured in the USA, never tested
 on animals)</span>
            </div>
        </div>
        <div class="button-holder green">
            <a href=".#">shop now</a>
        </div>
    </div>

</div>