<div class="systems">
    <a href="#systems"></a>
    <h2>Our Systems</h2>
    <div class="systems-top">
        <div>
            <img src="../img/img_1.png" alt="DRY / SENSITIVE SYSTEM">
            <h3>DRY / SENSITIVE SYSTEM</h3>
            <p>TOTAL MOISTURE</p>
            <div class="button-holder transparent">
                <a href=".#">Shop Now</a>
            </div>
        </div>
        <div>
            <img src="../img/img_2.png" alt="OILY / COMBINATION SYSTEM">
            <h3>OILY / COMBINATION SYSTEM</h3>
            <p>ZERO SHINE</p>
            <div class="button-holder transparent">
                <a href=".#">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="systems-behind">
        <div class="systems-img"></div>
        <div class="systems-inner">
            <h2>Behind The Formulas</h2>
            <ul>
                <li>Crulty free beauty products you'll love</li>
                <li>Worry free natural ingredients that  you can trust</li>
                <li>Natural formulas developed by leading botanical
                    scientists and cosmetic chemists</li>
                <li>Results you can see</li>
                <li>Easy to use systems that specifically target and
                    solve various skin concerns
                </li>
            </ul>
        </div>
    </div>
    <div class="systems-glowing">
        <div class="systems-inner">
        <h2>Glowing Skin Is Our Thing</h2>
        <p>
            NxN is rooted in a commitment to using the most potent and effective natural ingredie nts conveniently bringing you the latest and greatest skincare products to your doorstep at affordable prices.
        </p>
        <div class="button-holder transparent">
            <a href=".#">start glowing now</a>
        </div>
        </div>
        <div class="systems-img"></div>
    </div>
    <div class="systems-what">
        <div class="systems-img"></div>
        <div class="systems-inner">
        <h2>
            What Is Not In NxN :
        </h2>
        <ul>
            <li><span>NO</span> HARMFUL CHEMICALS</li>
            <li><span>NO</span> SULFATES</li>
            <li><span>NO</span> PARABENS</li>
            <li><span>NO</span> PHTHALATES</li>
            <li><span>NO</span> ARTIFICIAL COLORANTS</li>
            <li><span>NO</span> MINERAL OIL</li>
            <li><span>NO</span> PETROLATUM</li>
            <li><span>NO</span> COMMON ALLERGENS</li>
            <li><span>NO</span> PROPYLENE GLYCOL</li>
            <li><span>NO</span> FORMALDEHYDE</li>
        </ul>
        </div>
    </div>

    
</div>