.systems{
  flex-direction: column;
  h2{
    color: $purple;
    text-align: center;
  }
  &-top {
    padding: 0 310px;
    >div {
      flex-direction: column;
      text-align: center;
      padding-left:35px;
      &:first-of-type{
        padding-left: 0;
        padding-right: 35px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &-inner{

    flex-direction: column;
  }
  &-behind{
    .systems-img{
      background: url('../img/img_3.png')no-repeat 0 50%;
      background-size:cover;
    }
    .systems-inner {
      background: url('../img/bg_1.png')no-repeat 110% 50%;
      background-size:contain;
    }


  }
  &-glowing{
    .systems-img{

      background: url('../img/img_4.png')no-repeat 0 50%;
      background-size:cover;
    }
  }
  &-what{
    .systems-img{

      background: url('../img/img_5.png')no-repeat 0 50%;
      background-size:cover;
    }
  }

}